/*  your css code here. If applicable */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px; /* Adjust based on square size to fit the grid */
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 16px;
  width: 16px;
  margin: 2px;
  /* This handles the smooth "disappear" effect */
  transition: 1s ease; 
}

/* Instant color change when hovering */
.square:hover {
  transition: 0s; 
}